body {
    margin: 0;
    background-color: rgb(37, 37, 37);
    display: block;
}

header {
    margin-left: 40px;
}

.icons8-netflix {
    display: flex;
    width: 70px;
    height: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNDgiIGhlaWdodD0iNDgiCnZpZXdCb3g9IjAgMCA0OCA0OCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBmaWxsPSIjRjQ0MzM2IiBkPSJNNSAxOGMuNyAwIDEuMyAwIDIgMCAwIDQuMSAwIDguMSAwIDEyLjItLjguMS0xLjYuMi0yLjMuMy0xLTIuNS0yLjctNi44LTIuNy02LjhTMiAyOCAyIDMwLjhjLjQgMC0uMiAwLTIgLjMgMC00LjMgMC04LjcgMC0xMyAuOCAwIDIgMCAyIDBsMyA3LjNDNSAyNS40IDUgMjAuOCA1IDE4ek0xNC43IDIwYzAtLjYgMC0xLjQgMC0yLTEuOSAwLTMuOCAwLTUuNyAwIDAgNCAwIDggMCAxMiAxLjktLjIgMy44LS40IDUuNy0uNiAwLS42IDAtMS40IDAtMi0xLjIuMS0yLjQuMS0zLjcuNCAwLTEuMSAwLTEuNyAwLTIuOC45IDAgMi4xIDAgMyAwIDAtLjYgMC0xLjQgMC0yLS45IDAtMi4xIDAtMyAwIDAtMS4xIDAtMS45IDAtM0MxMS42IDIwLjEgMTQuMiAyMC4xIDE0LjcgMjB6TTE2IDIwYy4xIDAgMS45IDAgMiAwIDAgMy4yIDAgNiAwIDkuMi43IDAgMS4zIDAgMi0uMSAwLTMuMiAwLTUuOSAwLTkuMS43IDAgMS4zIDAgMiAwIDAtLjYgMC0xLjQgMC0yLTIuMSAwLTMuOSAwLTYgMEMxNiAxOC42IDE2IDE5LjQgMTYgMjB6TTI4LjYgMThjLTEuOSAwLTMuNyAwLTUuNiAwIDAgMy44IDAgNy4yIDAgMTEgLjIgMCAuNCAwIC42IDAgLjQgMCAuOSAwIDEuNCAwIDAtMS42IDAtMi40IDAtNCAuMSAwIDIuNCAwIDIuNyAwIDAtLjYgMC0xLjQgMC0yLS4zIDAtMi42IDAtMi43IDAgMC0xIDAtMiAwLTMgLjIgMCAzLjEgMCAzLjYgMEMyOC42IDE5LjUgMjguNiAxOC42IDI4LjYgMTh6TTMyIDI3LjVjMC0zLjMgMC02LjIgMC05LjUtLjcgMC0xLjMgMC0yIDAgMCAzLjggMCA3LjQgMCAxMS4yIDEuOC4xIDMuNi4yIDUuNC40IDAtLjYgMC0xLjMgMC0xLjlDMzQuMyAyNy42IDMzLjEgMjcuNSAzMiAyNy41ek0zNyAyOS43Yy43LjEgMS4zLjEgMiAuMiAwLTQgMC03LjkgMC0xMS45LS43IDAtMS4zIDAtMiAwQzM3IDIyIDM3IDI1LjggMzcgMjkuN3pNNDUuNCAyNC4yYy45LTIgMS43LTQgMi42LTYuMS0uNyAwLTEuNSAwLTIuMiAwLS41IDEuMy0uOSAyLjItMS40IDMuNC0uNS0xLjMtLjgtMi4yLTEuMy0zLjQtLjcgMC0xLjUgMC0yLjIgMCAuOCAyIDEuNSA0IDIuNCA2LjEtLjkgMi0xLjcgNC0yLjYgNiAuNy4xIDEuNC4yIDIuMS4zLjUtMS4zIDEtMi4yIDEuNS0zLjUuNSAxLjQgMSAyLjQgMS41IDMuOC43LjEgMS42LjIgMi4zLjNDNDcuMSAyOC43IDQ2LjIgMjYuMyA0NS40IDI0LjJ6Ij48L3BhdGg+PC9zdmc+') 50% 50% no-repeat;
    background-size: 100%;
    margin-left: 5px;
}


.list_profile {
    display: inline-block;
}

.pregunta_de_bienvenida {
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.titulo1 {
    font-family: sans-serif;
    width: 50%;
    color: white;
    margin: 40px 0px 0px 0px;
}

.choose_profile {
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin: 40px 0px 0px 0px;
}

li {
    list-style: none;
    padding: 20px 40px 20px 40px;
}



img {
    width: 12vw;
    height: 12vw;
    justify-content: center;
}

img:hover {
    border: 4px solid white;
}

p {
    color: grey;
    font-size: 30px;
}

.administrator {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px;
}

.administrator_perfil {
    background-color: rgb(37, 37, 37);
    border: 1px solid grey;
    margin: 0;
}

.boton {
    background-color: rgb(37, 37, 37);
    color: grey;
    text-align: center;
}

.boton:hover {
    color: white;
}